<div>
  <!-- Mobile -->
  <div class="row d-block d-md-none">
    <div class="col-12">
      <h2>Título imagem</h2>

      <img src="assets/images/img-exemple.jpg" alt="" />

      <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
        delectus facere beatae facilis aut accusamus iure dolor possimus
        asperiores non commodi, odit, dolorem qui esse corrupti officiis fuga
        perferendis. Fugit!
      </p>
      <button class="black-btn">Entrar em contato</button>
    </div>
  </div>

  <!-- Desktop -->
  <div class="d-none d-md-block">
    <!-- Imagem na direita -->
    <div class="row mb-5">
      <div class="col-6">
        <h2>Título imagem 1:</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
          voluptatibus nulla sed in. Vitae, sapiente magni repudiandae molestias
          eius dolorum. Asperiores similique velit explicabo expedita eum
          facilis mollitia cupiditate numquam.
        </p>
        <button class="black-btn">Entrar em contato</button>
      </div>

      <div class="col-6">
        <img src="assets/images/img-exemple.jpg" alt="" />
      </div>
    </div>

    <!-- Imagem na esquerda -->
    <div class="row">
      <div class="col-6">
        <img src="assets/images/img-exemple.jpg" alt="" />
      </div>

      <div class="col-6">
        <h2>Título imagem 2:</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
          dolore nulla nesciunt tenetur accusamus voluptatum itaque! Modi eius
          aliquid excepturi alias beatae voluptates, nesciunt dolorem maiores
          labore consequuntur illum saepe?
        </p>
        <button class="black-btn">Entrar em contato</button>
      </div>
    </div>
  </div>
</div>
