<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-brand">
      <img src="assets/images/exemplo-logo2.png" alt="" />
      <a class="navbar-brand" routerLink="/home">Operative</a>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" [routerLink]="item.url">{{ item.name }}</a>
        </li>

        <li class="nav-item align-self-center ms-3">
          <button class="btn btn-sm btn-primary">
            <div class="d-flex align-items-center">Exemple button</div>
          </button>
        </li>
      </ul>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      (click)="open(content)"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    >
      <i
        class="fa-solid"
        [ngClass]="{ 'fa-bars-staggered': !isHovered, 'fa-bars': isHovered }"
      ></i>
    </button>
  </div>
</nav>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <div class="navbar-brand">
      <img src="assets/images/exemplo-logo2.png" alt="" />
      <a class="navbar-brand" routerLink="/home">Operative</a>
    </div>

    <button
      type="button"
      class="btn-unstyled close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="offcanvas-body">
    <ul class="nav flex-column offcanvas-menu">
      <li class="nav-item" *ngFor="let item of navItems">
        <i *ngIf="item" class="{{ item.icon }}"></i>
        <a
          class="nav-link"
          routerLink="{{ item.url }}"
          (click)="offcanvas.close(item.name)"
        >
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</ng-template>
