<div class="benefits">
  <div class="container-max-width">
    <div class="container-max-width">
      <div class="row">
        <h1 class="text-center my-5">Benefícios</h1>

        <div class="col-12 col-md-3 place-slfend">
          <div class="flex-center   flex-dcolumn ">

            <div class="card-benefits flex-center">
              <img src="assets/icons/computer.svg" />
              <p class="m-0 text-center">Lorem ipsum dolor</p>
            </div>

            <div class="card-benefits flex-center">
              <img src="assets/icons/computer.svg" />
              <p class="m-0 text-center">Lorem ipsum dolor</p>
            </div>

            <div class="card-benefits flex-center">
              <img src="assets/icons/computer.svg" />
              <p class="m-0 text-center">Lorem ipsum dolor</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 text-center place-slfend">
          <img src="assets/images/pessoa.png" class="person" />
        </div>
        <div class="col-12 col-md-3 place-slfend">
          <div class="flex-center flex-dcolumn ">

            <div class="card-benefits flex-center">
              <img src="assets/icons/computer.svg" />
              <p class="m-0 text-center">Lorem ipsum dolor</p>
            </div>

            <div class="card-benefits flex-center">
              <img src="assets/icons/computer.svg" />
              <p class="m-0 text-center">Lorem ipsum dolor</p>
            </div>

            <div class="card-benefits flex-center">
              <img src="assets/icons/computer.svg" />
              <p class="m-0 text-center">Lorem ipsum dolor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
