<div class="row carousel-container">
  <div class="col-12 p-0">
    <swiper-container
      class="my-carousel"
      direction="horizontal"
      pagination="true"
      pagination-clickable="true"
      autoplay-delay="2500"
      loop="true"
      autoplay-disable-on-interaction="false"
      #swiper
    >
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="carousel-buttons-container">
    <div
      class="d-flex align-items-center justify-content-between carousel-buttons"
    >
      <button class="swiper-button" (click)="swiper.swiper.slidePrev()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="swiper-button" (click)="swiper.swiper.slideNext()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
