<div class="row p-0 m-0 carousel-container">
  <div class="col-12 p-0" class="swiper">
    <swiper-container class="mySwiper">
      <swiper-slide>
        <div class="info">
          <div class="content-comment">
            <h3 class="name">Nome</h3>
            <h4 class="job">Profissão</h4>
            <img src="assets/icons/aspas.svg" class="aspas mb-4">
            <div class="comment">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nisi, iste porro earum sit impedit officia
              tempora pariatur, consectetur omnis ad aspernatur molestiae totam vitae! Incidunt consequatur commodi
              provident dignissimos."
            </div>
            <h4 class="city">Cidade/UF</h4>
          </div>
        </div>

      </swiper-slide>

      <swiper-slide>
        <div class="info">
          <div class="content-comment">
            <h3 class="name">Nome</h3>
            <h4 class="job">Profissão</h4>
            <img src="assets/icons/aspas.svg" class="aspas mb-4">
            <div class="comment">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nisi, iste porro earum sit impedit officia
              tempora pariatur, consectetur omnis ad aspernatur molestiae totam vitae! Incidunt consequatur commodi
              provident dignissimos."
            </div>
            <h4 class="city">Cidade/UF</h4>
          </div>
        </div>

      </swiper-slide>

      <swiper-slide>
        <div class="info">
          <div class="content-comment">
            <h3 class="name">Nome</h3>
            <h4 class="job">Profissão</h4>
            <img src="assets/icons/aspas.svg" class="aspas mb-4">
            <div class="comment">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nisi, iste porro earum sit impedit officia
              tempora pariatur, consectetur omnis ad aspernatur molestiae totam vitae! Incidunt consequatur commodi
              provident dignissimos."
            </div>
            <h4 class="city">Cidade/UF</h4>
          </div>
        </div>

      </swiper-slide>


      <swiper-slide>
        <div class="info">
          <div class="content-comment">
            <h3 class="name">Nome</h3>
            <h4 class="job">Profissão</h4>
            <img src="assets/icons/aspas.svg" class="aspas mb-4">
            <div class="comment">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nisi, iste porro earum sit impedit officia
              tempora pariatur, consectetur omnis ad aspernatur molestiae totam vitae! Incidunt consequatur commodi
              provident dignissimos."
            </div>
            <h4 class="city">Cidade/UF</h4>
          </div>
        </div>

      </swiper-slide>

      <swiper-slide>
        <div class="info">
          <div class="content-comment">
            <h3 class="name">Nome</h3>
            <h4 class="job">Profissão</h4>
            <img src="assets/icons/aspas.svg" class="aspas mb-4">
            <div class="comment">
              "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nisi, iste porro earum sit impedit officia
              tempora pariatur, consectetur omnis ad aspernatur molestiae totam vitae! Incidunt consequatur commodi
              provident dignissimos."
            </div>
            <h4 class="city">Cidade/UF</h4>
          </div>
        </div>

      </swiper-slide>


    </swiper-container>


  </div>

  <!-- <div class="carousel-buttons-container">
    <div class="d-flex align-items-center justify-content-between carousel-buttons">
      <button class="swiper-button" (click)="swiper.swiper.slidePrev()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="swiper-button" (click)="swiper.swiper.slideNext()">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div> -->
</div>
