<footer>
  <div class="d-none d-md-block">
    <div class="d-flex align-items-center">
      <img src="assets/images/exemplo-logo2.png" class="logo" />

      <div>
        <div>
          <div class="icons d-flex">
            <img src="/assets/icons/instagram.svg" />
            <img src="/assets/icons/youtube.svg" />
            <img src="/assets/icons/whatsapp.svg" />
            <img src="/assets/icons/facebook.svg" />
          </div>
        </div>

        <div class="d-flex justify-content-center gap-30">
          <p>Home</p>
          <p>Como funiona</p>
          <p>Perguntas frequentes</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-block d-md-none">
    <div class="align">
      <img src="assets/images/exemplo-logo2.png" class="logo" />
      <div class="icons d-flex">
        <img src="/assets/icons/instagram.svg" />
        <img src="/assets/icons/youtube.svg" />
        <img src="/assets/icons/whatsapp.svg" />
        <img src="/assets/icons/facebook.svg" />
      </div>

      <p>Home</p>
      <p>Como funiona</p>
      <p>Perguntas frequentes</p>
    </div>
  </div>
  <a class="d-flex justify-content-center mt-2 top" (click)="goToTop()">
    <img src="/assets/icons/arrow-up.svg">
  </a>
</footer>
