<div class="container-max-width">
  <!-- desktop -->
  <div class="d-none d-md-block">
    <div class="flex-center p-5 gap-78">
      <div>
        <div class="best-plan shape">
          <button class="position-relative btn-best">Melhor plano</button>
          <h1 class="text-center txt-green fw-bolder mb-32">Expertise</h1>
          <ul>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit conse</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit amet conse</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-bolder txt-green">Lorem ipsum dolor sit amet conse</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit amet conse</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-bolder txt-green">Lorem ipsum dolor sit amet conse</h4>
            </li>
          </ul>
          <h4 class="last-price text-center fw-normal"><span class="no-color">******</span>de R$999,00<span class="no-color">******</span></h4>
          <div class="flex-center">
            <div class="me-2">
              <h5 class="m-0 fw-lighter text-end">12x</h5>
              <h5 class="m-0 fw-lighter txt-green">por R$</h5>
            </div>
            <div><h1 class="new-price txt-green fw-bolder">14,<span>90</span></h1></div>
          </div>
          <p class="text-center">ou R$178,80 em 1x</p>
          <button class="sign bg-green position-relative">Assinar</button>
        </div>
        <p class="mt-5 text-center">Inscreva-se agora e garanta o primeiro mês grátis!</p>
      </div>
      <div>
        <div class="second-plan shape">
          <h1 class="text-center fw-bolder mb-32 mt-76">Saber +</h1>
          <ul>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit amet conse</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit amet conse</h4>
            </li>
            <li class="mb-4">
              <h4 class="m-0 fw-normal">Lorem ipsum dolor sit amet</h4>
            </li>
            <li class="mb-96">
              <h4 class="m-0 fw-bolder">Lorem ipsum dolor sit amet conse</h4>
            </li>
          </ul>
          <h4 class="last-price text-center fw-normal"><span class="no-color">******</span>de R$799,00<span class="no-color">******</span></h4>
          <div class="flex-center">
            <div class="me-2">
              <h5 class="m-0 fw-lighter text-end">12x</h5>
              <h5 class="m-0 fw-lighter">por R$</h5>
            </div>
            <div><h1 class="new-price fw-bolder">9,<span>90</span></h1></div>
          </div>
          <p class="text-center">ou R$118,80 em 1x</p>
          <button class="sign position-relative">Assinar</button>
        </div>
        <p class="mt-5 text-center">Inscreva-se agora e garanta o primeiro mês grátis!</p>
      </div>
    </div>
  </div>

  <!-- mobile -->
  <div class="d-block d-md-none">

  </div>
</div>
