html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fcfcfc;
}

.main-container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
