<div class="row m-0 p-0 form">
  <div class="col-12 col-md-6 pt-60">
    <h1 class="title">Entre em contato conosco!</h1>

    <h4 class="subtitle">
      Estamos aqui para ajudar. Se tiver dúvidas, sugestões ou precisar de
      suporte, entre em contato conosco pelos meios abaixo. Teremos prazer em
      atendê-lo.
    </h4>

    <form class="d-flex">
      <input type="text" class="form-inputs" placeholder="Nome completo" />
      <input type="text" class="form-inputs" placeholder="Email" />
      <input
        type="text"
        class="form-inputs"
        placeholder="Telefone/Whatsapp"
      />

      <button type="button" class="black-btn">Inscreva-se</button>
    </form>
  </div>

  <div class="col-12 col-md-6 p-0 d-grid align-items-end d-none d-md-block text-center">
    <img src="assets/images/img-exemple.jpg" class="doc2" />
  </div>
</div>
