.title {
  margin: 42px 0;
  font-size: 36px;
}

.accordion {
  padding: 0;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed,
.accordion-body {
  border-radius: 10px;
  background: var(--New-White, #eeeded);
  border: 1px solid var(--Penn-Blue, #00123e);
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  font-size: 16px;
  font-weight: 500;
}

.accordion-body {
  font-size: 16px;
  margin-top: 1rem;
  font-weight: 600;
  border-radius: 10px;
}

.acc-icons {
  width: 35px;
  height: 45px;
  margin-right: 18px;
}

.accordion-button:focus {
  box-shadow: none;
}

.acc-gap {
  gap: 24px;
  flex-direction: column;
}

@media (min-width: 767px) {
  .accordion-flush .accordion-item .accordion-button,
  .accordion-flush .accordion-item .accordion-button.collapsed,
  .accordion-body {
    border-radius: 10px !important;
    background: var(--New-White, #eeeded);
    border: 2px solid var(--Penn-Blue, #00123e);
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .accordion-flush .accordion-item .accordion-button,
  .accordion-flush .accordion-item .accordion-button.collapsed {
    font-size: 24px;
    font-weight: 500;
  }

  .accordion-body {
    font-size: 24px;
    margin-top: 24px;
  }
}

// .accordion-flush .accordion-item:last-child {
//   background-color: #eeeded;
// }
